.box
{
    padding: 20px;
    /*border: 1px solid green;*/
    display: grid;
    place-items: center;
    overflow: hidden;
}

.box_container
{
    border: 1px solid yellow;
    border-radius: 10px;
    max-width: 250px;
    max-height: auto;

    overflow: hidden;
    display: grid;
    place-items: center;
}

.box_container >img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media(max-width:768px)
{
    .box
    {
        max-width: 40em;
        max-height: 40em;
    }
    .box_container
    {
        border-radius: 10px;
        max-width: 40em;
        max-height: auto;
        overflow: hidden;
        display: grid;
        place-items: center;

    }
    .image_box
    {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}