.header_wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: white;
    /*border: 1px solid red;*/
}

.header_logo
{
    margin-left: 48px;
    padding-top: 8px;

}

.header_search
{
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
}

.header_searchContainer
{
    display: flex;
    height: 28px;
    border: 2px solid #31363A;
    width: 375px;
    border-radius: 10px;
    padding-left: 10px ;
}

.searchinput
{
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.searchsubmit
{
    display: none;
}
.header_searchContainer > input:focus
{
    outline: none;
}

.header_menuitems
{
    margin-left: 48px;   
    margin-right: 48px;
    margin-right: 4px;
    margin-left: -10px;
}

.header_menuitems > a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.header_menuitems a:hover
{
    color: #5AC53B;
}


.profile
{
    width:  45px;
    height: 45px;
    border-radius: 50%;
}

@media(max-width:768px)
{
    .header_wrapper
    {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        height: 100px;
        
    }
    .header_logo
    {
        margin-left: -20em;
    }
    .header_searchContainer
    {
        margin-left: 40px;
        max-width: 250px;
        margin-top: -5em;
    }
    .header_menuitems
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
}