.movie_body
{
    height: 100vh;
    padding: 20px 10px ;
    width: 100%;
}

.movie_body_container
{
    padding: 20px 10px ;
    border: 1px solid orange;
    height: 80vh;
    overflow: scroll;
}

.movie_content
{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media(max-width:768px)
{
    .movie_body
    {
        padding: 40px 20px;
        max-width: 650px;
        margin-top: -35px;
    }
    .movie_content
    {
        display: flex;
        flex-direction: column;
    }

}